#sectiontitle {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
}

#sectionsubtitle {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 11px;
}

#sectionbody {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 11px;
}

#sectionbody a{
font-style:italic;
}

#sectionbody a:hover{
text-decoration:underline;
}