*{outline: none; padding: 0;}
img {border: none;}
/*
h1 { 
	font-size: 1.2em;
	padding: 5px 10px;
	color: #ccc;
	width: 940px;
	margin: 0 auto;
}
h1 a {	color: #fff; }
h1 span {font-weight: normal;}
--> conflict with alert message */  
#footpanel {
    font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;
	position: fixed;
	bottom: 0; left: 0;
	z-index: 9999; /*--Keeps the panel on top of all other elements--*/
	background: #e3e2e2;
	border: 1px solid #a6c9e2;
	border-bottom: none;
	width: 94%;
	margin: 0 3%;
}

*html #footpanel { /*--IE6 Hack - Fixed Positioning to the Bottom--*/
	margin-top: -1px; /*--prevents IE6 from having an infinity scroll bar - due to 1px border on #footpanel--*/
	position: absolute;
	top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ?documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
}

#footpanel ul {
	padding: 0; margin: 0;
	float: left;
	width: 100%;
	list-style: none;
	border-top: 1px solid #fff; /*--Gives the bevel feel on the panel--*/
	font-size: 1.1em;
}
#footpanel ul li{
	padding: 0; margin: 0;
	float: left;
	position: relative;
}
#footpanel ul li a{
	padding: 5px;
	float: left;
	text-indent: -9999px;
	height: 16px; width: 16px;
	text-decoration: none;
	color: #333;
	position: relative;
	margin:0
}
html #footpanel ul li a:hover{	background-color: #fff; }
html #footpanel ul li a.active { /*--Active state when subpanel is open--*/
	background-color: #fff;
	height: 17px;
	margin-top: -2px; /*--Push it up 2px to attach the active button to subpanel--*/
	border: 1px solid #555;
	border-top: none;
	z-index: 200; /*--Keeps the active area on top of the subpanel--*/
	position: relative;
}


#footpanel a.home{	
	width: 300px;
	padding-left: 20px;
	border-right: 0px solid #a6c9e2;
	text-indent: 0; /*--Reset text indent--*/
	margin:0
}
#footpanel a.hrmis{	
	width: 125px;
	border-left: 1px solid #a6c9e2;
	border-right: 1px solid #a6c9e2;
	padding-left: 20px;
	text-indent: 0; /*--Reset text indent--*/
	margin:0
}
#footpanel a.chat{	
	width: 126px;
	border-left: 1px solid #a6c9e2;
	border-right: 1px solid #a6c9e2; /*#bbb;*/
	padding-left: 40px;
	text-indent: 0; /*--Reset text indent--*/
	margin:0
}
a.alerts{ background: url(images/Alert.png) no-repeat 5px center; }
#footnot{	
	display:none;
	text-align: center;
	width: 10px;
	background: url(images/Notify.png) no-repeat center bottom;
	padding: 7px 5px 3px;
	color: #fff;
	font-size: 1em;
	font-weight:bold;
	text-indent: 0;
	position: absolute;
	top: -17px; /*--Position tooltip 35px above the list item--*/
	left: 45%; 
	z-index: 9999;
	margin:0
}

#footpanel li#chatpanel, #footpanel li#alertpanel {	float: right; margin:0 }  /*--Right align the chat and alert panels--*/

#footpanel a small {  /*--panel tool tip styles--*/
	text-align: center;
	width: 70px;
	background: url(images/pop_arrow.gif) no-repeat center bottom;
	padding: 5px 5px 11px;
	display: none; /*--Hide by default--*/
	color: #fff;
	font-size: 1em;
	text-indent: 0;
}
#footpanel a:hover small{
	display: block; /*--Show on hover--*/
	position: absolute;
	top: -35px; /*--Position tooltip 35px above the list item--*/
	left: 50%; 
	margin-left: -40px; /*--Center the tooltip--*/
	z-index: 9999;
}

#footpanel ul li div a { /*--Reset link style for subpanel links--*/
	text-indent: 0;
	width: auto;
	height: auto;
	padding: 0;
	float: none;
	color: #00629a;
	position: static;
	margin:0
}
#footpanel ul li div a:hover {	text-decoration: underline; margin:0} /*--Reset link style for subpanel links--*/

#footpanel .subpanel {
	position: absolute;
	left: 0; bottom: 27px;
	display: none;	/*--Hide by default--*/
	width: 250px; /*--width of popup window*/
	border: 1px solid #555;
	background: #fff;
	overflow: hidden;
	padding-bottom: 2px;
	margin:0
}
#footpanel h3 {
	background: #526ea6;
	padding: 5px 10px;
	color: #fff;
	font-size: 1.1em;
	cursor: pointer;
	margin:0
}
#footpanel h3 span { 
	font-size: 1.5em;
	float: right;
	line-height: 0.6em;	
	font-weight: normal;
	margin:0
}
#footpanel .subpanel ul{
	padding: 0; margin: 0;
	background: #fff;
	width: 100%;
	overflow: auto;
	margin:0
}
#footpanel .subpanel li{ 
	float: none; /*--Reset float--*/
	display: block;
	padding: 0; margin: 0;
	overflow: hidden;
	clear: both;
	background: #fff;
	position: static;  /*--Reset relative positioning--*/
	font-size: 0.9em;
	margin:0
}

#chatpanel .subpanel li { background: url(images/dash.gif) repeat-x left center; } 
#chatpanel .subpanel li span {
	padding: 5px;
	background: #fff;
	color: #777;
	float: left;
	margin:0
}
#chatpanel .subpanel li a img {
	float: left;
	margin: 0 5px;
}
#chatpanel .subpanel li a{
	padding: 3px 0;	margin: 0;
	line-height: 22px;
	height: 22px;
	background: #fff;
	display: block;
}
#chatpanel .subpanel li a:hover {
	background: #3b5998;
	color: #fff;
	text-decoration: none;
}


#alertpanel .subpanel { right: 0; left: auto; /*--Reset left positioning and make it right positioned--*/ }
#alertpanel .subpanel li {
	border-top: 1px solid #f0f0f0;
	display: block;
	margin:0
}
#alertpanel .subpanel li p {padding: 5px 10px; margin:0}
#alertpanel .subpanel li a.delete{
	background: url(images/delete_x.gif) no-repeat;
	float: right;
	width: 13px; height: 14px;
	margin: 5px;
	text-indent: -9999px;
	visibility: hidden; /*--Hides by default but still takes up space (not completely gone like display:none;)--*/
}
#alertpanel .subpanel li a.delete:hover { background-position: left bottom;  margin:0}
#footpanel #alertpanel li.view {
	text-align: right;
	padding: 5px 10px 5px 0;
}
