fieldset
{
border:0pt none;
font-family:inherit;
font-size:100%;
font-style:inherit;
font-weight:inherit;
margin:0pt;
padding:0pt;
vertical-align:baseline;
}
a{
cursor: pointer;
text-decoration:none;
}

#bgPopupList{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupList{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:348px;
width:450px;
background:#FFFFFF;
border:2px solid #cecece;
border-color:#FF9900;
z-index:2;
padding:0px;
font-size:10px;
}
#popupListClose{
font-size:10px;
line-height:10px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
#button{
text-align:center;
margin:100px;
}
