			div.jGrowl div.manilla {
				background-color: 		#FFF1C2;
				color: 					navy;
			}
			
			div.jGrowl div.smoke {
				background: url(images/smoke.png) no-repeat;
				-moz-border-radius: 	0px;
				-webkit-border-radius:	0px;
				width: 					280px;
				height: 				55px;
				overflow: 				hidden;
			}

			div.jGrowl div.flora {
				/*background: 			#E6F7D4 url(images/flora-notification2.png) no-repeat;*/
				background:				#e3f3f4;
				-moz-border-radius: 	0px;
				-webkit-border-radius:	0px;
				opacity: 				1;
				filter: 				alpha(opacity = 100);
				width: 					270px;
				height: 				100px;
				padding: 				0px;
				overflow: 				hidden;
				border:					2px solid;
				border-color: 			#A6C9E2;
			}

			div.jGrowl div.flora div.message {
				padding: 				5px;
				color: 					#000;
			}
			
			div.jGrowl div.flora div.header {
				background: 			url(images/flora-header2.png) no-repeat;
				padding: 				5px;
			}

			div.jGrowl div.flora div.close {
				background: 			url(images/flora-close2.png) no-repeat;
				padding: 				5px;
				color: 					transparent;
				padding: 				0px;
				margin: 				5px;
				width:					17px;
			}
			
			div.jGrowl div.iphone {
				font-family: 			"Helvetica Neue", "Helvetica";
				font-size: 				12px;
				background: 			url(images/iphone.png) no-repeat;
				-moz-border-radius: 	0px;
				-webkit-border-radius:	0px;
				opacity: 				.90;
				filter: 				alpha(opacity = 90);
				width: 					245px;
				height: 				137px;
				padding: 				0px;
				overflow: 				hidden;
				border-color: 			#5ab500;
				color: 					#fff;
			}

			div.jGrowl div.iphone div.message {
				padding-top: 			0px;
				padding-bottom: 		7px;
				padding-left: 			15px;
				padding-right: 			15px;
			}
			
			div.jGrowl div.iphone div.header {
				padding: 				7px;
				padding-left: 			15px;
				padding-right: 			15px;
				font-size: 				17px;
			}

			div.jGrowl div.iphone div.close {
				display: 				none;
			}
			
			div#random {
				width: 					1000px;
				background-color: 		red;
				line-height: 			60px;
			}

