/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5px;
	
}
.caption
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px ;
}
.tab
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.header 
{
	font-family: Arial;
	font-size: 9px;
	color: white;
	text-decoration: none;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;

}
.a2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
}
a:hover 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
	text-decoration: underline;
	font-weight: bold;
}
.notification
{
	font-family: Arial;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
}
.inbox
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	cursor: pointer;
}

div.historyScroll {
border : solid 1px #ff0000; 
background : #f2f2f2; 
color : #000000; 
padding : 4px; 
width : 250px; 
height : 600px; 
overflow : auto; 
}
/*
div.terms {
   width:200px;
   height:100px;
   border:1px solid #ccc;
   background:#f2f2f2;
   padding:6px;
   overflow:auto;
}
div.terms p,
div.terms li {font:normal 11px/15px arial;color:#333;}
div.terms h3 {font:bold 14px/19px arial;color:#000;}
div.terms h4 {font:bold 12px/17px arial;color:#000;}
div.terms strong {color:#000;}
*/

-->


.borderedtable
{
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-family:Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-align: left;
	border-collapse: collapse;
    border: 1px solid #D1DCEB;/* #ccc*/
}
.borderedtable thead{
	background-image:url(../images/tableheader.jpg);
	background-position: center;
	background-repeat:no-repeat;
}
.borderedtable th
{
	font-size: 11px;
	font-weight: normal;
	padding: 5px 3px 5px 3px;
	/*background-color: #007FFF;*/
	/*background-color:#E2E9F7;*/
	border: #B2BABD 1px solid; /* d3ddff  */
	/*color: #fff;*/
	color:#23559C;/* #000  */
	font-weight:bold;/*added*/
	
	height:19px;
}

.borderedtable td
{
	padding-left: 5px;
	padding-right: 5px;
	color: #4A5571;/*669*/
	
	/*background-color: #e8edff;*/
	border-collapse: collapse;
    border: 1px solid #D1DCEB;
	height:25px;
	font-size:11px;
}

.borderedtable tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
	height:26px;
}
.borderedtable tbody tr:hover td
{
	background-color: #d0dafd;
	color: #339;
}