/* Queue container styling
   or you can use .fileUploadQueue if you want to style all queue containers with the same properties */
#fileUploadstyleQueue{
	margin-top: 5px;
	padding: 3px;
	background-color: white;
	border-color: #cecece;
	border-style: solid;
	border-width: 1px;
	overflow: auto;
	height: 145px;
	width: 350px;
}

