/* Signup form */

#frmUserAccounts table, #frmOfficeGroups table, #doctypefrm table, #frmOffice table, #frmActReq table,#frmActTaken table, #frmCabinet table{
  border-spacing: 0px;
  border-collapse: collapse;
  empty-cells: show;
}

#frmUserAccounts .label, #frmOfficeGroups .label, #doctypefrm .label, #frmOffice .label, #frmActReq .label,#frmActTaken .label, #frmCabinet .label{
  padding-top: 2px;
  padding-right: 8px;
  vertical-align: top;
  text-align: left;
  width: 125px;
  white-space: nowrap;
}

#frmUserAccounts .field, #frmOfficeGroups .field, #doctypefrm .field, #frmOffice .field, #frmActReq .field,#frmActTaken .field, #frmCabinet .field{
  padding-bottom: 10px;
  white-space: nowrap;
}

#frmUserAccounts .status, #frmOfficeGroups .status, #doctypefrm .status, #frmOffice .status, #frmActReq .status,#frmActTaken .status, #frmCabinet .status{
  padding-top: 2px;
  padding-left: 8px;
  vertical-align: top;
  width: 50px;
  white-space: nowrap;
}

#frmUserAccounts .textfield, #frmOfficeGroups .textfield, #doctypefrm .textfield, #frmOffice .textfield,#frmActReq .textfield,#frmActTaken .textfield, #frmCabinet .textfield{
  width: 150px;
}

#frmUserAccounts label.error, #frmOfficeGroups label.error, #doctypefrm label.error, #frmOffice label.error,#frmActReq label.error,#frmActTaken label.error, #frmCabinet label.error{
  background:url("images/unchecked.gif") no-repeat 0px 0px;
  padding-left: 16px;
  padding-bottom: 2px;
  font-weight: lighter;
  color: #EA5200;
}

#frmUserAccounts label.checked, #frmOfficeGroups label.checked, #doctypefrm label.checked, #frmOffice label.checked,#frmActReq label.checked,#frmActTaken label.checked, #frmCabinet label.checked{
  background:url("images/checked.gif") no-repeat 0px 0px;
}

#frmUserAccounts .success_msg, #frmOfficeGroups .success_msg, #doctypefrm .success_msg, #frmOffice .success_msg,#frmActReq .success_msg,#frmActTaken .success_msg, #frmCabinet .success_msg{
  font-weight: bold;
  color: #0060BF;
  margin-left: 19px;
}

#doctypefrm #frmOffice #dateformatStatus, #doctypefrm #frmOffice #termsStatus {
  margin-left: 6px;
}

#doctypefrm #frmOffice #frmActReq #dateformat_eu {
 vertical-align: middle;
}

#doctypefrm #frmOffice #frmActReq #ldateformat_eu {
  font-weight: normal;
  vertical-align: middle;
}

#doctypefrm #frmOffice #frmActReq #dateformat_am {
  vertical-align: middle;
}

#doctypefrm #frmOffice #frmActReq #ldateformat_am {
  font-weight: normal;
  vertical-align: middle;
}

#doctypefrm #frmOffice #frmActReq #termswrap {
  float: left;
}

#doctypefrm #frmOffice #frmActReq #terms {
  vertical-align: middle;
  float: left;
  display: block;
  margin-right: 5px;
}

#doctypefrm #frmOffice #frmActReq #lterms {
  font-weight: normal;
  vertical-align: middle;
  float: left;
  display: block;
  width: 350px;
  white-space: normal;
}

#doctypefrm #frmOffice #frmActReq #lsignupsubmit {
  visibility: hidden;
}