/* CSS Document */
.menu a:link {color: #0066FF; text-decoration: none; }
.menu a:active {color: #0066FF; text-decoration: none; }
.menu a:visited {color: #0066FF; text-decoration: none; }
.menu a:hover {color: #6699CC; text-decoration: none; }

a:link {color: #000000; text-decoration: underline; }
a:active {color: #000000; text-decoration: underline; }
a:visited {color: #000000; text-decoration: underline; }
a:hover {color: #ff0000; text-decoration: none; }

.textbody {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em;
	font-size: 8pt;
	text-decoration: none;
}

.menubody {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em;
	font-size: 8px;
	text-decoration: none;
	text-align:left;
}

.listings {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em;
	font-size: 7pt;
	text-decoration: none;
	border-collapse:collapse;
	border-width:1px;
	text-align:center;
	border-color:#4297d7;
	background-color:#FFFFFF;
	border-color:#4297d7;
	border:none;
}

table.listings tr.listheader td{
text-align:center;
color:#FFFFFF;
font-size:11px;
background:#6699cc;
border-color:#FFFFFF;
border:thin solid;
}

table.listings tr.listheader a:link {color: #FFFFFF; text-decoration: underline; }
table.listings tr.listheader a:active {color: #FFFFFF; text-decoration: underline; }
table.listings tr.listheader a:visited {color: #FFFFFF; text-decoration: underline; }
table.listings tr.listheader a:hover {color: #FFFFFF; text-decoration: none; }

table.listings {
text-align:center;
color:#000000;
font-size:9px;
border-color:#4297d7;
}

table.listings tr.data td{
text-align:left;
color:#000000;
border:none;
border-color:#FFFFFF;
/*border-color:#999999;*/
/* border-color:#4297d7;*/

}

table.listings tr.unread td{
font-weight:bold;
font-stretch:expanded;
font-size:10px;
border-color:#999999;
/*border-color:#4297d7;*/
}


table.textbody td{
text-align:left;
}

table.tblforms{
	font-size: 8pt;
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

table.tblforms th{
font-weight:bold;
text-align:right;
}

table input.btn{
padding:0px 5px 0px 5px;
color:#050;   
font: bold 90% 'trebuchet ms',helvetica,sans-serif;   
background-color:#fed;   
border:1px solid;   
border-color: #696 #363 #363 #696;
}


.required {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: italic;
	font-weight: normal;
	color: #FF6000;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
}

table.metadata {
border:1px solid #4297d7;
font-size:8pt;
border-collapse:collapse;
}

table.datawrap {
/*border:1px solid #000000;*/
font-size:8pt;
}


table.metadata th{
font-weight:bold;
text-align:right;
}

table.metadata tr.metabutton{
background-color:#6699cc;
border:1px solid #000000;

}

table.documentContainer td.containerlabel
{
font-size:14px;
font-weight:bold;
text-align:left;
color:#FFFFFF;
}

table.documentContainer td.containerlabel a
{
color:#FFFFFF;
text-decoration:none;
}
table.documentContainer td.containerlabel a:hover
{
color:#CCCCCC;
text-decoration:none;
}


table.metadata a:hover
{
color:#FF9933;
cursor:pointer;
}
table.metadata a{
text-decoration:underline;
font-weight:bold;
}

table.metadata a.selectedlink {
color:#FF9933;
text-shadow:#CCCCCC;
}

table.metadata a.selectedlink:hover
{
color:#FF9900;
cursor:pointer;
}

/*CSS Sabrosus style pagination*/
div.pagination {
	padding:3px;
	margin:3px;
	text-align:center;
	font-size:9px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid ;
	font-size:9px;
	text-decoration: none; 
	color: #3399FF;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #2b66a5;
	color: #000;
	background-color: lightyellow;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid navy;
	font-weight: bold;
	background-color: #3399FF;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #929292;
	color: #929292;
}

/* CSS for suggest feature*/
div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;
	background-color:#88B6D9;
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
	background-color:#88B6D9;
}

div.suggestions div.current {
    background-color: #6CA6D1;
    color: white;
}

div.pane{
/*position:fixed;*/
}

div.relatedDocs a{
font-weight:normal;
text-decoration:none;
}


.borderedtable
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
    border: 1px solid #ccc;
}
.borderedtable th
{
	font-size: 13px;
	font-weight: normal;
	padding: 5px;
	background-color: #007FFF;
	border: 1px solid #d3ddff;
	color: #fff;
	text-align:center;
}
.borderedtable td
{
	padding: 3px !important; 
	color: #000;/*669*/
	border-top: 1px solid #fff;
	background-color: #e8edff;
	border-collapse: collapse;
    border: 1px solid #ccc;
}

.borderedtable tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
	height:26px;
}
.borderedtable tbody tr:hover td
{
	background-color: #d0dafd;
	color: #339;
}