button.drawing-board-control-download-button {
    color: #fff !important;
    background-color: #3fc9d5 !important;
    border-color: #2dc0cd !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    text-align: center !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.1980 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.btn-primary {
    background-color: #287e31;
    border-color: #0b541d;
}
.btn-primary:hover {
    background-color: #0a4418;
}
.btn-primary:focus, .btn-primary:active {
    background-color: #1c3221 !important;
}
button#btnfilter {
    background-color: #053110;
    border-color: #000;
}
button#btnclear {
    background-color: #0b541d;
    border-color: #083513;
}
span.label.label-default {
    display: inline-block;
    margin: 1px;
}
tr.gradeX.unread {
    font-weight: bolder;
}
.label.label-sm {
    display: -webkit-inline-box;
}
table#tbldociddata td{
    padding-left: 20px !important;
}

[v-cloak] {
  display: none;
}
/* here you can put your own css to customize and override the theme */
.page-content-wrapper {
    background-color: #0b541d;
}
.page-sidebar.navbar-collapse.collapse {
    background-color: #0b541d;
}
.page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
	color: #acc3b2 !important;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
	color: #fff !important;
}
.page-header.navbar {
    background-color: #053110;
}
#logo-dost {
    line-height: 45px;
    color: #fff;
    font-weight: bolder;
    font-size: 21px;
}
#logo-erms {
    line-height: 45px;
    color: #1dca47;
    font-weight: bolder;
    font-size: 21px;
}
.big {
    font-size: 30px !important;
}
.page-sidebar-menu>li:hover>a {
	background-color: #053110 !important;
}
.page-sidebar-menu>li.active>a {
	background-color: #053110 !important;
}
.page-footer {
    background-color: #04270d;
}
.clearfix {
    background-color: #03230b !important;
}
@media (max-width: 480px){
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
        background-color: #03230b !important;
    }
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: rgba(63, 79, 98, 0);
}

.login {
    background-color: #053110 !important;
}
.content {
    background-color: #fff !important;
}

.login .content .form-actions {
    border-bottom: 0 !important;
}
.imgloading {
    position: absolute;
    width: 100%;
    background-color: #ffffffb8;
    top: 10%;
    opacity: 4;
}