/* CSS Document */

.mainbox{
position:absolute;
width:800px;
height:600px;
top: 50%;
left: 50%;
margin-top: -300px; /*set to a negative number 1/2 of your height*/
margin-left: -400px; /*set to a negative number 1/2 of your width*/
/*border: 1px solid #ccc;*/
}

.header{
/*background-color: #e3e3e3;*/
background-image:url(../images/headerbg.jpg);
height:23px;
width:790px;
padding-left:10px;
padding-top:2px;
color:#FFFFFF;
font-weight:bold;
cursor:pointer;
}

#contentbox{
border-left:2px solid #0C3EE9;
border-bottom:2px solid #0C3EE9;
border-right:2px solid #0C3EE9;
width:796px;
height:575px;
background-image:url(../images/background.jpg);
}

.leftcolumn{
height:575px;
width:158px;
float:left;
padding-left:10px;
/*background-color:#999999;
border-right:1px solid #ccc;*/
}

.rightcolumn{
height:575px;
width:628px;
float:left;
/*background-color:#f3f3f3;*/
}


.headtitle{
font-size:14px;
font-family:"Courier New", Courier, monospace;
color:#37B54A;
font-weight:bold;
}

.headtitle b{
color:#000000;
}

.logo {
padding-top:5px;
padding-bottom:40px;
}

.steplist{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#699ED3;
padding-left:13px;
}

.steplist .stephighlight{
color:#FFF;
font-weight:bold;
background-image:url(../images/right.png);
background-position:left center;
background-repeat:no-repeat;
}

.steplist div{
margin-bottom:10px;
padding-left:23px;
}

.steplist .stepfin{
background-image:url(../images/check.png);
background-position:left center;
background-repeat:no-repeat;
}

.configmaincontainer{
height:495px; /*515px - padding:10px*2 = 495px;*/
width:560px; /*600px - padding:20px*2 = 560px*/
margin:15px;
background-color:#F1F1F1;
padding:10px 20px 10px 20px;
position:relative;
}

.buttoncontainer
{
width:600px; /* same width as configmaincontainer + padding left + padding right padding*/
margin-left:15px;
}
.buttoncontainer table
{
width:600px; /* same width as buttoncontainer*/
}



.steptitle{
font-size:16px;
font-weight:bold;
}

.configtext{
height:380px; /*450px - padding:10px*2 = 430px*/
width:540px; /*560px - padding:10px*2 = 540px*/
background-color:#FFFFFF;
border:1px solid #999999;
margin-top:10px;
font-size:11px;
padding:10px;
font-family:Arial, Helvetica, sans-serif;
bottom:20px;
position:absolute;
}
.configtextheader{
margin-top:40px;
font-size:12px;
}

table.optgroup{
border-top:1px solid #CCCCCC;
/*border-bottom:1px solid #CCCCCC;*/
width:100%;
padding-top:5px;
padding-bottom:5px;
}

.instruction{
color:#666666;
text-align:left;
}

table.optgroup input{
font-size:12px;
}

table.optgroup th{
text-align:left;
}

/*#fileserverlist{
padding-left:30px;
}*/


.mainbox1{
position:absolute;
	top: 50%;
	left: 50%;
	width:800px;
	height:18em;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -400px; /*set to a negative number 1/2 of your width*/
	border: 1px solid #ccc;
	background-color: #000000;
}

.comments {
	background-color: #e3e3e3;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 2px;
}

.installertext{
color:#A5A8B3;
text-shadow:0 1px 1px #000000;
font-size:18px;
}

.getstarted a{
background:url(../images/get-started.png) no-repeat scroll left top;
display:block;
font-size:0;
height:54px;
margin:30px auto 0;
text-indent:-5000px;
width:200px;
outline:medium none;
padding:0;
vertical-align:baseline;
}

.getstarted a:active {
background-position:0 -54px;
}



.serverlist:hover {
text-shadow: 1px 1px 3px #000; color: #2C7AD0;
}


/* Custom checkbox and radio styles */

fieldset
{
	margin: 1em;
	padding: 5px 10px 10px 10px;
}	
fieldset p
{
	display: block;
	position: relative;
	overflow: hidden;
}
fieldset input[type=text],
fieldset input[type=email]
{
	border: 1px solid #ccc;
	line-height: 20px;
	padding: 3px;
	width: 200px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

label + p,
input + p
{
	margin-top: 20px;
}

p > input
{
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}
p > label 
{ 
	float: left; 
	line-height: 16px; 

	padding: 0 0 0 18px;
	-moz-transition: color 1s ease; 
	-o-transition: color 1s ease; 
	-webkit-transition: color 1s ease; 
	transition: color 1s ease; 
}
p:not(#foo) > input:hover + label, p:not(#foo) > input:focus + label,
p:not(#foo) > input + label:hover, p:not(#foo) > input:focus + label			{ text-shadow: 1px 1px 3px #000; color: #2C7AD0; }

p:not(#foo) > input + label
{
	background: url(../images/gr_custom-inputs.png) 0 -1px no-repeat;
	height: 16px;
}
p:not(#foo) > input[type=radio] + label										{ background-position: 0 -161px; }

/* Checked styles */
p:not(#foo) > input[type=radio]:checked + label 							{ background-position: 0 -241px; }
p:not(#foo) > input[type=checkbox]:checked + label 							{ background-position: 0 -81px; }
p:not(#foo) > input[type=checkbox]:hover:checked + label,
p:not(#foo) > input[type=checkbox]:focus:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover,
p:not(#foo) > input[type=checkbox]:focus:checked + label 					{ background-position: 0 -101px; }
p:not(#foo) > input[type=radio]:hover:checked + label,
p:not(#foo) > input[type=radio]:focus:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover,
p:not(#foo) > input[type=radio]:focus:checked + label 						{ background-position: 0 -261px; }

/* Hover & Focus styles */
p:not(#foo) > input[type=checkbox]:hover + label,
p:not(#foo) > input[type=checkbox]:focus + label,
p:not(#foo) > input[type=checkbox] + label:hover 							{ background-position: 0 -21px; }
p:not(#foo) > input[type=radio]:hover + label,
p:not(#foo) > input[type=radio]:focus + label,
p:not(#foo) > input[type=radio] + label:hover								{ background-position: 0 -181px; }

/* Active styles */
p:not(#foo) > input[type=checkbox]:active + label,
p:not(#foo) > input[type=checkbox] + label:hover:active						{ background-position: 0 -41px; }
p:not(#foo) > input[type=radio]:active + label,
p:not(#foo) > input[type=radio] + label:hover:active						{ background-position: 0 -201px; }
p:not(#foo) > input[type=checkbox]:active:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover:active				{ background-position: 0 -121px; }
p:not(#foo) > input[type=radio]:active:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover:active				{ background-position: 0 -281px; }

/* Disabled styles */
p:not(#foo) > input[type=checkbox]:disabled + label,
p:not(#foo) > input[type=checkbox]:hover:disabled + label,
p:not(#foo) > input[type=checkbox]:focus:disabled + label,
p:not(#foo) > input[type=checkbox]:disabled + label:hover,
p:not(#foo) > input[type=checkbox]:disabled + label:hover:active			{ background-position: 0 -61px; }
p:not(#foo) > input[type=radio]:disabled + label,
p:not(#foo) > input[type=radio]:hover:disabled + label,
p:not(#foo) > input[type=radio]:focus:disabled + label,
p:not(#foo) > input[type=radio]:disabled + label:hover,
p:not(#foo) > input[type=radio]:disabled + label:hover:active				{ background-position: 0 -221px; }
p:not(#foo) > input[type=checkbox]:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:hover:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:focus:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover,
p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover:active	{ background-position: 0 -141px; }
p:not(#foo) > input[type=radio]:disabled:checked + label,
p:not(#foo) > input[type=radio]:hover:disabled:checked + label,
p:not(#foo) > input[type=radio]:focus:disabled:checked + label,
p:not(#foo) > input[type=radio]:disabled:checked + label:hover,
p:not(#foo) > input[type=radio]:disabled:checked + label:hover:active		{ background-position: 0 -301px; }
