body{
overflow:hidden;
}
#helpwrapper {
width:98%;
height:95%;
border:0px #000000 solid;
position:absolute;
overflow:none;
}

#helpheader {
border-bottom:1px #000000 solid;
width:100%;
height:6%;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size:20px;
}

#usermenu {
float:left;
border:0px #000000 solid;
width:25%;
height:91%;
margin-left:1px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height:1.25;
white-space:nowrap;
overflow:scroll;

}

#usermenu about,appendix,appendix1,s1,s2,s3,s4,s5,a1:hover{
cursor:pointer;
}
#usermenu about:hover,appendix:hover,appendix1:hover,s1:hover,s2:hover,s3:hover,s4:hover,s5:hover {
color:#666666;
}

#usermenu about:active,appendix:active,appendix1:active,s1:active, s2:active,s3:active,s4:active,s5:active {
	font-weight:bold;
}

#maincontent {
float:none;
border:0px #000000 solid;
width:72%;
height:91%;
position:absolute;
left:25.5%;
overflow:scroll;
padding-left:20px;
}
#maincontent ol{
list-style:decimal;
}
#helpfooter {
float:inherit;
border:0px #000000 solid;
width:99%;
height:2.5%;
position:absolute;
bottom:0;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size:9px;

}

#sectiontitle {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight:bold;
margin-left:-20px;
}

#sectionsubtitle {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 11px;
margin-left:-20px;
}

#sectionbody {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 11px;
}

#sectionbody a{
font-style:italic;
}

#sectionbody a:hover{
text-decoration:underline;
}

#figurelabel {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
font-weight:bold;
text-align:center;
}

#notebox {
border-width:thin;
border-color:#003300;
border-style:dashed;
padding:7px;
width:96%;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
line-height:1.25;
}

a:hover {cursor:pointer;}
a:active {font-weight:bold}

/*code for section list outline*/
body {counter-reset:section;}

s1 {counter-reset:subsection;}
s2 {counter-reset:subsection2;}
s3 {counter-reset:subsection3;}
s4 {counter-reset:subsection4;}
s5 {counter-reset:subsection5;}

s1:before {
counter-increment:section;
content:"" counter(section) " ";
}

s2:before {
margin-left:10px;
counter-increment:subsection;
content:counter(section) "." counter(subsection) " ";
}

s3:before {
margin-left:20px;
counter-increment:subsection2;
content:counter(section) "." counter(subsection) "." counter(subsection2) " ";
}

s4:before {
margin-left:30px;
counter-increment:subsection3;
content:counter(section) "." counter(subsection) "." counter(subsection2) "." counter(subsection3) " ";
}

s5:before {
margin-left:40px;
counter-increment:subsection4;
content:counter(section) "." counter(subsection) "."  counter(subsection2) "." counter(subsection3) "." counter(subsection4) " ";
}

a1:before {
margin-left:10px;
counter-increment:subsection;
content:"A." counter(subsection) " ";
}

appendix:before {
counter-increment:section;
content:"Appendix" " ";	
}

appendix1:before {
margin-left:10px;
counter-increment:subsection;
content:"Appendix" " " "B.";
}

#list li{
	font-size:11px;
}

#link {
	color: blue;
	cursor: pointer;
	text-decoration:underline;
}

