body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;
	text-align:justify;

}

td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;
	padding: 2px;
}

.small {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#FFFFFF;
}

.smaller {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color:#FFFFFF;
}

.big {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#FFFFFF;
}

.xbig {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#FFFFFF;
}

.footer {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}

.box {
	border-width: thin;
	border-style: solid;
	border-color: #FFFFFF;
}

.boxyellow {
	border-width: thin;
	border-style: solid;
	border-color: #FFFF00;
	padding-top: 10px;
	padding-bottom: 10px;
}

.box1 {
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	display:none;
}

.box2 {
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	display:none;
}

.notebox {
	border-width: thin;
	border-style:dashed;
	border-color: #FFFF00;
	padding:20px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;
}

a:link, a:visited, a:active {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#00FF00;
	text-decoration:underline;
}

a:hover {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFF00;
	text-decoration:none;
}

table.box>tbody>tr>td>a>img{
height:0;
border:0;
}
